node_modules
dist
.cache

# .NET
**/bin
**/obj
*.db
*.db-shm
*.db-wal

# IDE
.vs
.idea
*.slnx.user
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
/public/build
/app/tailwind.css
/jsonDocs
.mf
/meta.json
/stats.html
public/entry.worker.js

# Env
.env
